{% extends "base.html" %}

{% block title %}Login - LitLounge{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="POST" action="/login">
    <input type="text" placeholder="Username" name="username" required>
    <br>
    <input type="password" placeholder="Password" name="password" required>
    <br>
    <button type="submit">Sign in</button>
</form>
<div id="signupButton2">
    <a id="signupButton" href="{{ url_for('auth.signup') }}">Don't have an account click here!</a>
</div>
{% endblock %}