* {
    padding:0;
    margin: 0;
}
  
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(189, 189, 189);
}
  
h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

#bio {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}
  
li {
    float: left;
}
  
li h1 {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
}

li p {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a {
    cursor: pointer;
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #c4c4c4;
}

li a:active {
    background-color: rgb(75, 75, 75);
    color: white;
}
  
input { 
    border-radius: 4px;
    border-color: black;
    padding-left: 2px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
    border-radius: 4px;
    padding: 3px;
    background-color: rgb(118, 157, 255);
    font-size: 17px;
}

button:hover {
    background-color: rgb(48, 90, 198);
    color: white;
}

textarea {
    height: 100px;
    width: 300px;
}

svg {
    margin: 0px;
    padding-top: 7px;
}

#bookTitle {
    display: inline;
}

#preview {
   /*display: inline-block;*/
   object-fit: cover; 
}

#like {
    float: left;
}

#imagePicker {
    display: none;
}

#logo {
    margin-left: 10px;
}

#yellowStar {
    fill:#fbff00;
}

#greyStar {
    fill:#989898;
}

#avgStar {
     float: right;
}

#signupButton {
    cursor: pointer;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    border-color: black;
    border-style: solid;
    padding: 3px;
    font-size: 16px;
    background-color: rgb(164, 164, 164);
}

#signupButton:hover {
    background-color: rgb(75, 75, 75);
    color: white;
}

#signupButton:active {
    background-color: rgb(0, 0, 0);
    color: white;
}

#fileButton {
    cursor: pointer;
    border-radius: 4px;
    border-color: black;
    border-style: solid;
    background-color: rgb(164, 164, 164);
    padding: 3px;
    font-size: 16px;
}

#fileButton:hover {
    background-color: rgb(75, 75, 75);
    color: white;
}

#fileButton:active {
    background-color: rgb(0, 0, 0);
    color: white;
}

#fileButton2 {
    margin: 0px;
}

#signupButton2 {
    margin-top: 15px;
    margin-bottom: 5px;
}

#middle {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#profileButton {
    display: inline-block;
    cursor: pointer;
    display: block;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#profileButton:hover {
    background-color: #c4c4c4;
}

#profileButton:active {
    background-color: rgb(75, 75, 75);
    color: white;
}

#inline-block-child {
    display: inline-block;
}

#inline-block-child2 {
    margin-right: 5px;
    display: inline-block;
    object-fit: cover;
}

#change {
    margin-bottom: 10px;
}

#profile_picture {
    width: 50px;
    height: 40px;
    background-size: cover;
    border: 2px solid rgb(69, 68, 68);
    border-radius: 5px;
    padding-left: 0;
    float: left;
    margin-right: 5px;
}

#profile_picture2 {
    width: 100px;
    height: 80px;
    background-size: cover;
    border: 2px solid rgb(69, 68, 68);
    border-radius: 5px;
    padding-left: 0;
}

#blurb {
    margin-right: 10px;
    padding: 0.5em;
    border-style:solid;
    border-color: #111;
    border-radius: 4px;
    float: left;
    width: 400px;
}
  
#Con {
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
    width: 100%;
}
  
#Con2 {
    width: 700px;
    background: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

#con3 {
    width: 700px;
    display: inline-block;
    margin-bottom: 2%;
}

.rating {
    cursor: pointer;
  --size: 25px;
  --mask: conic-gradient(from -18deg at 61% 34.5%, #0000 108deg, #fbff00 0) 0 / var(--size),
      conic-gradient(from 270deg at 39% 34.5%, #0000 108deg, #fbff00 0) 0 / var(--size),
      conic-gradient(from 54deg at 68% 56%, #0000 108deg, #fbff00 0) 0 / var(--size),
      conic-gradient(from 198deg at 32% 56%, #0000 108deg, #fbff00 0) 0 / var(--size),
      conic-gradient(from 126deg at 50% 69%, #0000 108deg, #fbff00 0) 0 / var(--size);
  --bg: linear-gradient(90deg, #fbff00 calc(var(--size) * var(--val)), #989898 0);
  margin-bottom: 0px;
  height: var(--size);
  width: calc(var(--size) * 5);
  border: 0; /* Firefox adds a default border to ranges */
  -webkit-appearance: none;
  appearance: none;
  
  /* Chrome and Safari */
  &::-webkit-slider-runnable-track {
    height: 100%;
    mask: var(--mask);
    mask-composite: intersect;
    background: var(--bg);
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  
  &::-webkit-slider-thumb {
    opacity: 0;
  }
  
  /* Firefox */
  &::-moz-range-track {
    height: 100%;
    mask: var(--mask);
    mask-composite: intersect;
    background: var(--bg);
    print-color-adjust: exact;
  }
  
  &::-moz-range-thumb {
    opacity: 0;
  }
}

#reviewMaker {
    margin-top: 30px;
}