{% extends "base.html" %}

{% block title %}Home - LitLounge{% endblock %}

{% block content %}
{% set link = "static/" + user.profile_picture %}
    <form method="POST" action="/edit" enctype="multipart/form-data">
        <input type="username" value="{{ user.username }}" name="username" required>
        <br>
        <textarea name="bio" required>{{ user.bio }}</textarea>
        <br>
        <input type="email" value="{{ user.email }}" name="email" required>
        <br>
        <div id="fileButton2">
            <label for="imagePicker" id="fileButton">Image for profile picture</label>
            <input onchange="loadFile(event)" value="{{ user.profile_picture }}" type="file" id="imagePicker" accept="image/*" name="imagePicker" required>
            <img id="preview" width="50" height="40"/>
        </div>
        <br>
        <button type="submit">Save changes</button>
    </form>
{% endblock %}