{% extends "base.html" %}

{% block title %}Home - LitLounge{% endblock %}

{% block content %}
{% set link = "static/" + user.profile_picture %}
    <img id="profile_picture2" src="{{ link }}">
    <h2>{{ user.username }}</h2>
    <p id="bio">{{ user.bio }}</p>
    <br>
    <p id="bio">People who {{ user.username }} follows</p>
    <div id="con3">
    {% for follow in follows %}
        {% if follow.user1ID == user.id %}
            {% for u in users %}
                {% if follow.user2ID == u.id %}
                    <form method="POST" action="/profile">
                        <input type="hidden" name="user" value="{{ u.username }}">
                        {% set link = "static/" + u.profile_picture %}
                        <input type="image" id="profile_picture" src="{{ link }}" alt="Submit">
                    </form>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </div>
    {% if user.id == current_user.id %}
        <form method="POST" action="/change">
            <input type="hidden" name="username" value="{{ user.username }}">
            <button id="change" type="submit">Edit profile</button>
        </form>
    {% endif %}
    <form method="POST" action="/follow">
        <input type="hidden" name="id" value="{{ user.id }}">
        <button type="submit">Follow</button>
    </form>
    <br>
    <br>
    <h2>Reviews that {{ user.username }} has made</h2>
    {% for review in reviews %}
        {% if review.userID == user.id %}
            {% for book in books %}
                {% if review.bookID == book.id %}
                    <h3>{{ review.title }} | {{ book.title }}</h3>
                    <p>{{ review.text }}</p>
                    <br>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}